*.sh
.nextflow 
.nextflow.log 
.nextflow.log.1 
.nextflow.log.2 
.nextflow.log.3 
.nextflow.log.4 
.nextflow.log.5 
.nextflow.log.6 
.nextflow.log.7 
.nextflow.log.8 
.nextflow.log.9
work
workflows/work
workflows/.nextflow 
workflows/.nextflow.log 
workflows/.nextflow.log.1 
workflows/.nextflow.log.2 
workflows/.nextflow.log.3 
workflows/.nextflow.log.4 
workflows/.nextflow.log.5 
workflows/.nextflow.log.6 
workflows/.nextflow.log.7 
workflows/.nextflow.log.8 
workflows/.nextflow.log.9
workflows/pipeline_info
