params {
	// general
 	runID = ""
	samplesheet = ""
	outfolder = ""
	fasta = "/data/references/fasta/GRCh38/GRCh38.fa"
	exome = false 

	// mapping
	remap = false
	bwa = 2

	//Singularity images
	singularity = ""

}

if (params.runID.isEmpty()) {
	params.runID = new java.util.Date().format( 'yyyy-MM-dd' )
}

//Report
params.tracedir = "${params.outfolder}/${params.runID}/pipeline_info"
timeline {
	enabled = true
	overwrite = true
	file = "${params.tracedir}/execution_timeline.html"
}
report {
	enabled = true
	overwrite = true
	file = "${params.tracedir}/execution_report.html"
}

profiles {
	docker {
		docker.enabled = true
		docker.fixOwnership = true
		docker.runOptions = "-v /data/references:/data/references -v /data/input/:/data/input/ -v /data/output:/data/output"

		process {
			errorStrategy = "terminate"
			maxErrors = 4
			withLabel: 'gatk' {
				executor = 'local'
				container = 'gatk:4.5.0.0'
			}		
		}
	}
	singularity {
			singularity.enabled = true
			singularity.autoMounts = true
			process {
			errorStrategy = "terminate"
			maxErrors = 4
			withLabel: 'gatk' {
				container = "${params.singularity}/gatk.sif"
			}
		}

	}
}

process {
	cache = 'lenient'

	withLabel: 'mem_1GB' {
		memory = 1.GB
	}
	withLabel: 'mem_2GB' {
		memory = 2.GB
	}
	withLabel: 'mem_4GB' {
		memory = 4.GB
	}
	withLabel: 'mem_6GB' {
		memory = 6.GB
	}
	withLabel: 'mem_8GB' {
		memory = 8.GB
	}
	withLabel: 'mem_16GB' {
		memory = 16.GB
	}
	withLabel: 'mem_20GB' {
		memory = 20.GB
	}
	withLabel: 'mem_30GB' {
		memory = 30.GB
	}
	withLabel: 'mem_32GB' {
		memory = 32.GB
	}
	withLabel: 'mem_40GB' {
		memory = 40.GB
	}
	withLabel: 'mem_50GB' {
		memory = 50.GB
	}
	withLabel: 'mem_60GB' {
		memory = 60.GB
	}
	withLabel: 'mem_64GB' {
		memory = 64.GB
	}
	withLabel: 'mem_70GB' {
			memory = 70.GB
	}
	withLabel: 'mem_96GB' {
			memory = 96.GB
	}
	withLabel: 'mem_128GB' {
		memory = 128.GB
	}
	withLabel: 'core_1' {
		cpus = 1
	}
	withLabel: 'core_2' {
		cpus = 2
	}
	withLabel: 'core_4' {
		cpus = 4
	}
	withLabel: 'core_8' {
		cpus = 8
	}
	withLabel: 'core_12' {
		cpus = 12
	}
	withLabel: 'core_16' {
		cpus = 16
	}
	withLabel: 'core_18' {
		cpus = 18
        }
	withLabel: 'core_24' {
		cpus = 24
        }
	withLabel: 'core_32' {
		cpus = 32
	}
	withLabel: 'core_36' {
		cpus = 36
        }
	withLabel: 'core_64' {
		cpus = 64
	}
}
