params {
	// general
 	runID = ""
	samplesheet = ""
	outfolder = ""
	fasta = "/data/references/fasta/GRCh38/GRCh38.fa"
	exome = false 

	// mapping
	remap = false
	bwa = 2

	//Singularity images
	singularity = ""

	// snv call
	haploid_contigs = "chrX,chrY"
	par_regions_bed = "/data/references/bed/GRCh38/GRCh38_PAR.bed"
	mity = true

	// Annotations

	exclude_bed = "/data/references/bed/GRCh38/ENCFF356LFX.bed.gz"
	vep_cache = "/data/references/vep"
	clinvar = "/data/references/clinvar/GRCh38/clinvar_20240520.vcf.gz"
	REVEL = "/data/references/germline_resource/REVEL/new_tabbed_revel_grch38.tsv.gz"
	CADD = "/data/references/germline_resource/CADD/whole_genome_SNVs.tsv.gz"
	genome = "GRCh38"
	mity_genome = "hg38"

}

if (params.runID.isEmpty()) {
	params.runID = new java.util.Date().format( 'yyyy-MM-dd' )
}

//Report
params.tracedir = "${params.outfolder}/${params.runID}/pipeline_info"
timeline {
	enabled = true
	overwrite = true
	file = "${params.tracedir}/execution_timeline.html"
}
report {
	enabled = true
	overwrite = true
	file = "${params.tracedir}/execution_report.html"
}

profiles {
	docker {
		docker.enabled = true
		docker.fixOwnership = true
		docker.runOptions = "-v /data/references:/data/references -v /data/input/:/data/input/ -v /data/output:/data/output"

		process {
			errorStrategy = "terminate"
			maxErrors = 4
			withLabel: 'gatk' {
				executor = 'local'
				container = 'gatk:4.5.0.0'
			}
			withLabel: 'deepvariant' {
				executor = 'local'
				container = 'google/deepvariant:1.6.1'
			}
			withLabel: 'manta' {
				executor = 'local'
				container = 'manta:1.6.0'
			}
			withLabel: 'smoove' {
				executor = 'local'
				container = 'brentp/smoove:latest'
			}
			withLabel: 'delly' {
				executor = 'local'
				container = 'delly:1.2.6'
			}
			withLabel: 'r_container' {
				executor = 'local'
				container = 'r_container:4.3.2'
			}
			withLabel: 'glnexus' {
				executor = 'local'
				container = 'glnexus:1.4.1'
			}
			withLabel: 'annotsv' {
				executor = 'local'
				container = 'annotsv:3.4'
			}
			withLabel: 'vep' {
				executor = 'local'
				container = 'vep:111'
			}
			withLabel: 'gridss' {
				executor = 'local'
				container = 'gridss/gridss:2.13.2'
			}
			withLabel: 'mity' {
				executor = 'local'
				container = 'mity:0.4.0'
			}			
		}
	}
	singularity {
			singularity.enabled = true
			singularity.autoMounts = true
			process {
			errorStrategy = "terminate"
			maxErrors = 4
			withLabel: 'gatk' {
				container = "${params.singularity}/gatk.sif"
			}
			withLabel: 'deepvariant' {
				container = "${params.singularity}/deepvariant.sif"
			}
			withLabel: 'manta' {
				container = "${params.singularity}/manta.sif"
			}
			withLabel: 'r_container' {
				container = "${params.singularity}/r_container.sif"
			}
			withLabel: 'glnexus' {
				container = "${params.singularity}/glnexus.sif"
			}
		}

	}
}

process {
	cache = 'lenient'

	withLabel: 'mem_1GB' {
		memory = 1.GB
	}
	withLabel: 'mem_2GB' {
		memory = 2.GB
	}
	withLabel: 'mem_4GB' {
		memory = 4.GB
	}
	withLabel: 'mem_6GB' {
		memory = 6.GB
	}
	withLabel: 'mem_8GB' {
		memory = 8.GB
	}
	withLabel: 'mem_16GB' {
		memory = 16.GB
	}
	withLabel: 'mem_20GB' {
		memory = 20.GB
	}
	withLabel: 'mem_30GB' {
		memory = 30.GB
	}
	withLabel: 'mem_32GB' {
		memory = 32.GB
	}
	withLabel: 'mem_40GB' {
		memory = 40.GB
	}
	withLabel: 'mem_50GB' {
		memory = 50.GB
	}
	withLabel: 'mem_60GB' {
		memory = 60.GB
	}
	withLabel: 'mem_64GB' {
		memory = 64.GB
	}
	withLabel: 'mem_70GB' {
			memory = 70.GB
	}
	withLabel: 'mem_96GB' {
			memory = 96.GB
	}
	withLabel: 'mem_128GB' {
		memory = 128.GB
	}
	withLabel: 'core_1' {
		cpus = 1
	}
	withLabel: 'core_2' {
		cpus = 2
	}
	withLabel: 'core_4' {
		cpus = 4
	}
	withLabel: 'core_8' {
		cpus = 8
	}
	withLabel: 'core_12' {
		cpus = 12
	}
	withLabel: 'core_16' {
		cpus = 16
	}
	withLabel: 'core_18' {
		cpus = 18
        }
	withLabel: 'core_24' {
		cpus = 24
        }
	withLabel: 'core_32' {
		cpus = 32
	}
	withLabel: 'core_36' {
		cpus = 36
        }
	withLabel: 'core_64' {
		cpus = 64
	}
}
